h1{
  font-family: 'Dancing Script', cursive;
  color: black;
}
body{
  background: #f9e4b7;

}
h5{
  cfont-family: 'Raleway', sans-serif;
  color: black;
}
img{
  width: 100px;
}
.blockquote-footer {
    color: White;
  margin-left: vg 80%;
  }
p{
  cfont-family: 'Raleway', sans-serif;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}
