h1{
  font-family: 'Dancing Script', cursive;
  color: black;
}
h2{
  font-family: 'Raleway', sans-serif;
  color: black;
}

h3{
  font-family: 'Raleway', sans-serif;
  color: black;
}

body {
  background: #f9e4b7;
}
